body {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    box-sizing: content-box;
}

/* =================
Typography
================= */

form select, form button {
    color: #D1D5DB
}



/* =================
Layout
================= */

.container {
    margin: 0 auto;
    max-width: 550px;
    width: 95%;
}

header {
    height: 80px;
    border: 1px solid magenta;
    display: flex;
    align-items: center;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
}

form select, form input, form button {
    height: 42px;
    border: 1px solid #D1D5DB;
}

form input{
    width: 15%;
    min-width: 50px;
}

form select {
    width: 55%;
    min-width: 150px;
    background-color: #1F293A;
    padding: .5rem;
}
form button {
    width: 20%;
    min-width: 90px;
    background: #3D4B60;
    padding: .3em;
}

.color-palette {
    display: flex;
}

.color {
    border: 1px solid magenta;
    width: 20%;
    height: 550px;
}